# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de entorno
.env
.env.*
*.env

# Distribución / build
build/
dist/
*.egg-info/

# =========================
# Node / Frontend
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build frontend
.next/
out/
dist/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# =========================
# Ansible
# =========================
*.retry

chroma_data
models
uploads
